body {
  margin: 0;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: white;
  display: inline-block;
}

img {
  display: inline-block;
  border: Solid white 2px;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: all 1s ease-out;
}

.logo {
  width: 9rem;
  height: 4.4rem;
  border: none;
  border-radius: 0%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.2rem;
  margin-right: 0;
}

.banniere {
  width: 100%;
  border: none;
  border-radius: 0%;
  border-bottom-right-radius: 2%;
  border-bottom-left-radius: 2%;
}

div {
  height: 5rem;
}

menu {
  display: flex;
  background-color: black;
  margin: 0;
  position: sticky;
  top: 0;
}

ul {
  display: inline-block;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 2rem;
  background-color: rgb(169, 1, 1);
  color: white;
  border-radius: 30% 15%;
  border: solid rgb(169, 1, 1) 1px;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 1s ease-out;
}

ul:hover {
  background-color: rgb(226, 77, 77);
  border: solid rgb(226, 77, 77) 2px;
  color: black;
}

img:hover {
  transform: scale(1.1);
}

.banniere:hover {
  transform: scale(1);
}

article {
  width: 1fr;
  background-color: rgb(169, 1, 1);
  border: solid 0.25rem white;
  height: auto;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-left: 1rem;
  box-shadow: 8px 8px 2px 1px rgb(0, 0, 0);
}

p {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

section {
  margin-top: 2rem;
  margin-left: 1rem;
}

table {
  border-collapse: collapse;
  display: inline;
  margin: 1rem;
}

th {
  border: solid white 2px;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgb(169, 1, 1);
}

td {
  border: solid white 2px;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  background-color: black;
  font-weight: bold;
  text-align: center;
}

.tableau {
  text-align: center;
}

h2 {
  background-color: black;
  text-align: left;
  color: white;
  margin-left: 0;
  margin-right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
  padding-left: 2rem;
  font-size: 2rem;
}

footer {
  height: auto;
  margin-top: 2rem;
  margin-bottom: 0;
  border-top: solid black 2px;
  background-color: rgb(41, 41, 41);
  padding-bottom: 1rem;
  text-align: center;
}

.certif {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: center;
}

.foot {
  width: auto;
  height: auto;
  margin: 2rem;
  display: inline-table;
}

h3 {
  color: white;
  font-size: 2rem;
  text-align: left;
  border-bottom: 2px white solid;
  padding: 1rem;
}

.baspage {
  margin: 1rem;
  width: auto;
  font-size: 1.2rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: white;
}

h4 {
  font-size: 2rem;
  text-align: center;
}

.Team {
  border-radius: 0;
  left: 0;
  margin: 0;
  width: 33%;
  opacity: 1;
}

.Team:hover {
  transform: none;
  opacity: 0.85;
}

fieldset {
  width: 100%;
  color: white;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

label {
  width: 100%;
}

legend {
  font-size: 2.2rem;
}

button {
  border-radius: 10px;
  color: black;
  font-size: 1.2rem;
  background-color: gray;
}

button:hover {
  background-color: white;
}

textarea {
  width: 100%;
  height: 10rem;
}

a > img {
  border-radius: 0;
  left: 0;
  margin: 0;
  width: 100%;
  opacity: 1;
  border: none;
}

a > img:hover {
  transform: none;
  opacity: 0.85;
}
